@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.link__hover--effect {
    position: relative;
    transition: all 300ms ease;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px; 
    width: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    transition: all 300ms ease;
}

.link__hover--effect:hover:after {
    left: 0;
    width: 100%;
}

/*

NAVIGATION

*/

nav {
    background-image: linear-gradient(to right, rgb(8, 8, 15), rgb(36, 8, 8));
    padding: 12px;
}

.nav__logo {
    margin: 8px 24px;
    display: flex;
    align-items: center;
}

.nav__logo--text {
    margin-left: 12px;
    font-size: 48px;
    color: rgb(255, 255, 255);
}

.nav__logo--img {
    width: 100%;
    font-size: 80px;
    color: rgb(255, 255, 255);
    margin-left: 150px;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    margin: 0;
    margin-right: 150px;
    display: flex; 
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.nav__link {
    margin-left: 48px;
    color: rgb(255, 255, 255);
}

.nav__button {
    padding: 12px 32px;
    color: black;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
    transition: all 300ms ease;
}

.nav__button:hover {
    background-color: rgb(197, 197, 197);
}

.button__menu {
    color: white;
    background-color: transparent;
    font-size: 32px;
    text-align: center;
    border: none;
    display: none;
    margin-right: 0;
}

/* 

LANDING

*/

#landing {
    width: 100%;
    height: 35vh;
}

.header__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    padding-top: 80px;
    margin-bottom: 36px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.background__img {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('assets/movies.jpg');
    width: 100vw;
    height: 35vh;
    opacity: 0.9;
    z-index: -1;
}

.search__bar {
    width: 500px;
    height: 32px;
    padding: 24px;
    border: 6px solid rgb(0, 0, 145);
    border-radius: 50px;
    font-size: large;
    text-align: left;
    transition: all 300ms ease;
    outline: none;
}

.search__bar:hover {
    border-color: rgb(50, 50, 255);
}

.search__button {
    cursor: pointer;
    background-color: blue;
    padding: 12px 48px;
    border-radius: 50px;
    border: none;
    transition: all 300ms ease;
}

.search__button:hover {
    cursor: pointer;
    background-color: rgb(50, 50, 255);
    padding: 12px 48px;
    border-radius: 50px;
    border: none;
}

.fa-magnifying-glass {
    font-size: 24px;
    transition: all 300ms ease;
    color: white;
}
/*

FEATURES

*/



#features {
    background-image: linear-gradient(to right, rgb(8, 8, 15), rgb(36, 8, 8));
    width: 100%;
    height: 100%;
    z-index: -1;
}

.features__row {
    text-align: center;
}

.features__title {
    color: white;
    font-size: 32px;
    padding: 48px 24px;
    
}

select {
    padding: 12px 24px;
    border: none;
    font-weight: bold;
    margin-bottom: 32px;
    /* position: absolute; */
}

.filter__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

option {
    border: none;
    
}

.movies__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 75%;
    margin: 0;
}

.movie__desc {
    color: white;
}

.movie {
    width: calc(100% / 3);
    display: inline-block;
    margin-bottom: 32px;
    transition: all 300ms ease;
}

.movie__img {
    max-height: 380px;
    object-fit: contain;
    object-position: left;
    display: inline-block;
    transition: all 300ms;
}

.movie__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    
}

.movie:hover {
    transform: translateY(-5px);
}

.movie:hover .movie__img {
    transform: scale(1.03);
}

/* 

NO MOVIES

*/ 

.no__movies {
    padding-bottom: 100%;
    color: white;
    font-weight: 700;
    font-size: 52px;
}

.no__movies--img {
    width: 50%;
    height: 50%;
}

/*

SPINNER

*/

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100vh;
    font-size: 60px;
    color: #ffffff;
  }

  
  /* .movies__loading--spinner {
    display: none !important;
  } */
  
  /* .movies__loading .movies__loading--spinner {
    display: block !important;
  } */
  
  .fa-spinner {
    animation: rotate 600ms infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/*

RESPONSIVENESS

*/

@media (max-width: 1390px) {
    .movie {
        width: calc(100% / 2);
    }
}

@media (max-width: 960px) {
    .movie {
        width: calc(100% / 1);
    }

    .button__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }
}

@media (max-width: 550px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__logo--img {
        margin: 0;
    }

    .header__title {
        font-size: 42px;
    }

    .search__bar {
        width: 300px;
        height: 32px;
        padding: 24px;
        border: 6px solid rgb(0, 0, 145);
        border-radius: 50px;
        font-size: large;
        text-align: left;
        transition: all 300ms ease;
        outline: none;
    }

}
